<div class="bookmarks-spinner" *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="bookmarks">
  <div class="bookmarks__actions">
    <a
      *ngIf="!isHomePage"
      mat-button color="primary"
      [routerLink]="['/bookmarks']"
    >All bookmarks</a>
    <button
      class="bookmarks__new"
      mat-flat-button
      color="primary"
      type="button"
      (click)="addBookmarkHandler()"
    >Add new bookmark</button>
  </div>
  <router-outlet></router-outlet>
</div>